




<div class="row">
  <div class="col-sm-4 col-lg-5">
    <div class="profile-main">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize_to_limit: [200, 200]), class: "img-fluid img-profile" %>
      <%end%>
      <div style="width: 100%;">
        <h1 class="h3"> <%= @user.username %> </h1>
        <p>Member since: <%= @user.created_at.strftime("%d %B %G") %></p>
        <% if @user.id == session[:user_id]%>
          <%= link_to "Edit details", edit_user_path(@user) %>
        <%end%>
        <div class="row album-viewer">
          <% if @user.albums.count > 0 %>
            <div class="soft-top border-top">
            <h3 class="h4">Albums</h3>
            </div>
          <% end %>
          <% @user.albums.reverse.each do |album| %>
            <% if album.photos.count > 0 %>
              <div class="col-sm-3">
                <div class="bg-white album-cover">
                  <a href="/users/<%=@user.id%>/albums/<%=album.id%>">
                    <%= image_tag album.photos[0].image.variant(resize_to_limit: [100, 100]), class: "img-fluid rounded" %>
                    <p><%= album.name %></p>
                  </a>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>

        <% if @user.id == session[:user_id]%>
          <%= link_to "Create album", new_user_album_path(@user) %>
          <%= link_to "My albums", user_albums_path(@user) %>
        <%end%>

      </div>

    </div>
  </div>
  <div class="col-sm-8 col-lg-7">
    <% @user.posts.reverse.each do |post| %>
      <div class="post bg-white">
        <div class="profile-holder post-heading">
          <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar.variant(resize_to_limit: [100, 100]) %>
          <%end%>
          <p class="profile-name"><a href="/users/<%=post.user.id %>"><%=post.user.username %></a> <br />
          Posted <%= post.updated_at.strftime("%C %B %G at %R") %></p>
        </div>
        <div class="post-body">
          <p><%=post.message%></p>
          <% if post.image.attached? %>
            <%= image_tag post.image.variant(resize_to_limit: [1200, 630]) %>
          <%end%>
        </div>
        <div class="post-footer">
          <div>
            <span><%= post.comments.count %> <i class="bi bi-chat-text"></i> </span>
            <span><%= post.likes.count %> <i class="bi bi-hand-thumbs-up"></i> </span>
          </div>
          <div>
            <%= form_with model: [ post, post.likes.create ], local: true do |form| %> <%= form.submit "Like", class: "btn btn-primary" %> <% end %>
            <%= link_to "Comment", post_path(post), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




