<% @posts.reverse.each do |post| %>
  <p><%=post.user.username %>: <%=post.message%></p>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <%= form_with model: [ post, post.likes.create ], local: true do |form| %> <%= form.submit "Like", class: "btn btn-primary" %> <% end %>
  <% if post.image.attached? %>
  <%= image_tag post.image %>
  <%end%>
  <%= link_to "View comments", post %>
<% end %>


<p><%= link_to new_post_path do %>
  New post
<% end %></p>

<%= form_tag '/login' do %>
<%= submit_tag "Logout" %>
<% end %>

