<% @posts.reverse.each do |post| %>
  <div class="profile-holder">
    <% if post.user.avatar.attached? %>
      <%= image_tag post.user.avatar.variant(resize_to_limit: [100, 100]) %>
    <%end%>
    <%=post.user.username %>
  </div>
  <p><%=post.message%></p>
  <% if post.image.attached? %>
    <%= image_tag post.image %>
  <%end%>
  <%= link_to "View comments", post %>
<% end %>


<p><%= link_to new_post_path do %>
  New post
<% end %></p>

<%= form_tag '/login' do %>
<%= submit_tag "Logout" %>
<% end %>

