<div class="center-block">
  <div class="form-group-wrap">

<h1> What's on your mind? </h1>
<%= form_for @post do |form| %>
  
  <div class="form-group">
    <%= form.label :message, class: "control-label"%>
    <%= form.text_area :message,  class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, class: "control-label"%>
    <%= form.file_field :image,  class:"form-control" %>
  </div>

  <div class="form-group">
  <%= form.submit "Create!", class: "btn btn-primary" %>
  </div>

<% end %>

</div>
</div>