<div class="center-block post-container" >
  <div class="post bg-white">
    <div class="profile-holder post-heading">
      <% if @post.user.avatar.attached? %>
        <%= image_tag @post.user.avatar.variant(resize_to_limit: [100, 100]) %>
      <%end%>
      <p class="profile-name"><a href="/users/<%=@post.user.id %>"><%=@post.user.username %></a> <br />
      Posted <%= @post.created_at.strftime("%d %B %G at %R") %></p>
    </div>
    <div class="post-body">
      <p><%=@post.message%></p>
      <% if @post.image.attached? %>
        <%= image_tag @post.image.variant(resize_to_limit: [1200, 630]) %>
      <%end%>
    </div>
  </div>
</div>



<h2>Comments</h2>
  <% @post.comments.reverse.each do |comment| %>
    <div class="profile-holder">
      <% if comment.user.avatar.attached? %>
        <%= image_tag comment.user.avatar.variant(resize_to_limit: [100, 100]) %>
      <%end%>
      <p><span><%= comment.user.username %></span> commented:</p>
    </div>
    <p><%= comment.body %></p>
  <% end %>

  <h2>Add a comment:</h2>
  <%= form_with model: [ @post, @post.comments.build ], local: true do |form| %>
   
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>


<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<%= form_with model: [ @post, @post.likes.create ], local: true do |form| %> <%= form.submit "Like", class: "btn btn-primary" %> <% end %>
