<div class="center-block post-container" >
  <div class="post bg-white">
    <div class="profile-holder post-heading">
      <% if @post.user.avatar.attached? %>
        <%= image_tag @post.user.avatar.variant(resize_to_limit: [100, 100]) %>
      <%end%>
      <p class="profile-name"><a href="/users/<%=@post.user.id %>"><%=@post.user.username %></a> <br />
      Posted <%= @post.created_at.strftime("%d %B %G at %R") %></p>
    </div>
    <div class="post-body">
      <p><%=@post.message%></p>
      <% if @post.image.attached? %>
        <%= image_tag @post.image.variant(resize_to_limit: [1200, 630]) %>
      <%end%>
    </div>
    <div class="post-footer soft-bottom">
      <div>
        <span><%= @post.comments.count %> <i class="bi bi-chat-text"></i> </span>
        <span><%= @post.likes.count %> <i class="bi bi-hand-thumbs-up"></i> </span>
      </div>
    </div>
    <div class="reverse-column">
      <div>
        <h2 class="h4 soft-bottom"><%= @post.comments.count %> <%= (@post.comments.count) == 1 ? 'Comment' : 'Comments'%></h2>
        <% @post.comments.reverse.each do |comment| %>
          <div class="comment">
            <div class="profile-holder post-heading">
              <% if comment.user.avatar.attached? %>
                <%= image_tag comment.user.avatar.variant(resize_to_limit: [100, 100]) %>
              <%end%>
              <p class="profile-name"><a href="/users/<%=comment.user.id %>"><%=comment.user.username %></a> <br />
        Commented <%= comment.created_at.strftime("%d %B %G at %R") %></p>
            </div>
            <p><%= comment.body %></p>
          </div>
        <% end %>
      </div>
      <div>
        <%= form_with model: [ @post, @post.comments.build ], local: true do |form| %>
          <div class="form-group">
            <%= form.text_area :body, class: "form-control form-control-tall"%>
          </div>
          <div class="form-group">
            <%= form.submit "Add comment", class: "btn btn-primary mg-l-auto" %>
          </div>
        <% end %>
        <hr>
      </div>
    </div>
  </div>
</div>

