<p><%=@post.message%></p>
 <% if @post.image.attached? %>
  <%= image_tag @post.image %>
  <%end%>

<h2>Comments</h2>
  <% @post.comments.reverse.each do |comment| %>
    <p><%= comment.user.username %>: <%= comment.body %></p>
  <% end %>

  <h2>Add a comment:</h2>
  <%= form_with model: [ @post, @post.comments.build ], local: true do |form| %>
   
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>


<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<%= form_with model: [ @post, @post.likes.create ], local: true do |form| %> <%= form.submit "Like", class: "btn btn-primary" %> <% end %>
